/* RESPONSIVE CODE NOO */
@media screen and (max-width: 1451px){
    .hero-text-back{
        font-size: 7rem;
    }
    .hero-text-mid{
        font-size: 7rem;
    }
    .hero-text-main{
        font-size: 7rem;
    }
    .hero-text-back span{
        
    }
}

@media screen and (max-width: 1240px){
    .lol2{
        font-size: 77px;
        text-align: center;
    }
    .hero-text-main span {
        font-size: 3.3rem;
        position: absolute;
        transform: translateX(-104%) translateY(-30%);
    }
    .hero-text-mid span {
        font-size: 3.3rem;
        position: absolute;
        transform: translateX(-104%) translateY(-30%);
    }
    .hero-text-back span {
        font-size: 3.3rem;
        position: absolute;
        transform: translateX(-67%) translateY(-30%);
    }
}

@media screen and (max-width: 1040px){
    .hero-text-back{
        font-size: 6rem;
    }
    .hero-text-mid{
        font-size: 6rem;
    }
    .hero-text-main{
        font-size: 6rem;
    }
}

@media screen and (max-width: 790px){
    .linksss{
        flex-direction: column;
        margin-top: 0px !important;
    }
    .elements-parent.size-m{
        height: 100vh;
    }
    .hero-text-back{
        font-size: 5rem;
    }
    .hero-text-mid{
        font-size: 5rem;
    }
    .hero-text-main{
        font-size: 5rem;
    }
    .glimpses-text{
        font-size: 40px !important;
    }
    .lol2{
        font-size: 55px !important;
    }
    .hero_right {
        overflow: hidden;
        height: 100%;
        padding-right: 4vw;
        padding-left: 4vw;
        font-size: 1vw;
        transform: translateY(-72%);
    }
    .hero-text-main span {
        font-size: 3.3rem;
        position: absolute;
        transform: translateX(-100%) translateY(-19%);
    }
    .hero-text-mid span {
        font-size: 3.3rem;
        position: absolute;
        transform: translateX(-100%) translateY(-19%);
    }
    .hero-text-back span {
        font-size: 3.3rem;
        position: absolute;
        transform: translateX(-100%) translateY(-19%);
    }
}

@media screen and (max-width:430px){
    .lol2{
        font-size: 23px !important;
    }
    .hero-text-back{
        font-size: 2.7rem !important;
    }
    .hero-text-mid{
        font-size: 2.7rem !important;
    }
    .hero-text-main{
        font-size: 2.7rem !important;
    }
    .hero-text-main span {
        font-size: 2.3rem;
        position: absolute;
        transform: translateX(-100%) translateY(-19%) !important;
    }
    .hero-text-mid span {
        font-size: 2.3rem;
        position: absolute;
        transform: translateX(-100%) translateY(-19%) !important;
    }
    .hero-text-back span {
        font-size: 2.3rem;
        position: absolute;
        transform: translateX(-100%) translateY(-19%) !important;
    }
}